body {
    background-color: #ffe8e8;
    background-size: 1500px 1060px;
    background-repeat: no-repeat;
}
h1, p {

    text-align: center;
    margin-top: 4px;
    margin-bottom: 0px;
}
#container{
    height: 480px;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display:block;
    background-color: white;
    border: 1px dashed gray;
}

#controls {
    display:block;
    margin-left: 660px;
    margin-right: auto;
    width: 580px;
}


.control-button {
    font-size: 18px;
    font-family: "DejaVu Sans Mono";
    background-color: #e2e2e2;
    color:#3F3F3F;
    border-radius:3px;
    margin-left: 18px;
    margin-top: 20px;
}


.control-button:focus {
    box-shadow:none;
    outline-style:none;
}

.control-text {

    font-size: 12px;
    font-family: arial,sans-serif;
    float:left;
    border: 1px dashed gray;

}

#reset-button:hover, #gradient-button:hover, #black-button:hover {
    color:black;
}
/*
#reset-button, #gradient-button, #black-button {
  color:gray;
} */
#black-button {
    color:gray;
    background-color: #F7F7F7;
    margin-left: 4px;

}

#red-button:hover {
    color: darkred;
}

#red-button {
    color:red;
    background-color: #F7F7F7;

}
#green-button:hover {
    color: darkgreen;
}

#green-button {
    color:#08b908;
    background-color: #F7F7F7;
    margin-left: 4px;

}
#blue-button:hover {
    color: darkblue;

}

#blue-button {
    color:#006eff;
    background-color: #F7F7F7;
    margin-left: 4px;

}